h1 {
  color: #cfcfcf;
}

li {
  display: inline-block;
  width: 30%;
  height: 50px;
  text-align: center;
}

.numbtn {
  height: 100%;
  width: 100%;
}

.opbtn {
  height: 100%;
  width: 100%;
}

#introtext {
  margin: 2em 0 2em;
  width: 100%;
  text-align: center;
}

#buttonscontainer {
  width: 600px;
  height: 600px;
}

#numbers {
  width: 450px;
}

#operators {
  width: 150px;
}
